<div class="row">
    <div class="col-md-12 mt-3 mb-5 ms-3"><h1 class="logo">TREDI</h1></div>  
    <div class="col-md-12 mt-2"><a class="btn btn-lg w-100 text-start text-secondary" [routerLink]="[{ outlets: { workspace: ['orders'] } }]">Tilaukset</a></div>
    <div class="col-md-12 mt-1 ps-5"><a class="btn btn-md w-100 text-start text-secondary"  [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Piirteet</a></div>
    <div class="col-md-12 mt-1 ps-5"><a class="btn btn-md w-100 text-start text-secondary"  [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Tuoteperheet</a></div>
    <div class="col-md-12 mt-1 ps-5"><a class="btn btn-md w-100 text-start text-secondary"  [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Kanavat</a></div>
    <div class="col-md-12 mt-1 ps-5"><a class="btn btn-md w-100 text-start text-secondary"  [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Tuotemedia</a></div>
    <div class="col-md-12 mt-1 ps-5"><a class="btn btn-md w-100 text-start text-secondary"  [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Tuonti ja vienti</a></div>

    <div class="col-md-12 mt-2 border-top"><a class="btn btn-lg w-100 text-start text-secondary" [routerLink]="[{ outlets: { workspace: ['crm'] } }]">Asiakassuhteet</a></div>
    <div class="col-md-12 mt-1 ps-5"><a class="btn btn-md w-100 text-start text-secondary"  [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Kampanjat</a></div>
    <div class="col-md-12 mt-1 ps-5"><a class="btn btn-md w-100 text-start text-secondary"  [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Mainonta</a></div>
    <div class="col-md-12 mt-1 ps-5"><a class="btn btn-md w-100 text-start text-secondary"  [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Kanavat</a></div>
    <div class="col-md-12 mt-1 ps-5"><a class="btn btn-md w-100 text-start text-secondary"  [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Jätetyt korit</a></div>
    <div class="col-md-12 mt-1 ps-5"><a class="btn btn-md w-100 text-start text-secondary"  [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Tuonti ja vienti</a></div>

    <div class="col-md-12 mt-2 border-top"><a class="btn btn-lg w-100 text-start text-secondary"  [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Tuotetiedot</a></div>
    <div class="col-md-12 mt-1 ps-5"><a class="btn btn-md w-100 text-start text-secondary"  [routerLink]="[{ outlets: { workspace: ['product-attributes'] } }]">Piirteet</a></div>
    <div class="col-md-12 mt-1 ps-5"><a class="btn btn-md w-100 text-start text-secondary"  [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Tuoteperheet</a></div>
    <div class="col-md-12 mt-1 ps-5"><a class="btn btn-md w-100 text-start text-secondary"  [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Kanavat</a></div>
    <div class="col-md-12 mt-1 ps-5"><a class="btn btn-md w-100 text-start text-secondary"  [routerLink]="[{ outlets: { workspace: ['product-media'] } }]">Tuotemedia</a></div>
    <div class="col-md-12 mt-1 ps-5"><a class="btn btn-md w-100 text-start text-secondary"  [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Tuonti ja vienti</a></div>

</div>

<div class="row fixed-bottom">
    <div class="col-md-12 mb-5 ms-3"><a class="btn btn-lg w-100 text-start text-secondary"  [routerLink]="['/login', 0]">Kirjaudu ulos</a></div>
</div>


