
    <h1 class="logo mt-3 ms-2">TREDI</h1>
          <button class="btn btn-md w-100 text-start collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#contents-collapse" 
          aria-controls="contents-collapse">Tilaushallinta</button>
          <ul class="list-unstyled ps-3 collapse" id="contents-collapse">
            <li><a class="btn btn-sm w-100 text-start" [routerLink]="[{ outlets: { workspace: ['orders'] } }]">Tilaukset</a></li>
            <li><a class="btn btn-sm w-100 text-start" [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Ominaisuudet</a></li>
            <li><a class="btn btn-sm w-100 text-start" [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Kanavat</a></li>
            <li><a class="btn btn-sm w-100 text-start" [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Tuotemedia</a></li>
            <li><a class="btn btn-sm w-100 text-start" [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Tuonti ja vienti</a></li>
          </ul>

          <button class="btn btn-md w-100 text-start collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#forms-collapse" 
          aria-controls="forms-collapse">Asiakassuhteet</button>
          <ul class="list-unstyled ps-3 collapse" id="forms-collapse">
            <li><a class="btn btn-sm w-100 text-start" [routerLink]="[{ outlets: { workspace: ['crm'] } }]">Asiakkaat</a></li>
            <li><a class="btn btn-sm w-100 text-start" [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Kampanjat</a></li>
            <li><a class="btn btn-sm w-100 text-start" [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Mainonta</a></li>
            <li><a class="btn btn-sm w-100 text-start" [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Kanavat</a></li>
            <li><a class="btn btn-sm w-100 text-start" [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Jätetyt korit</a></li>
            <li><a class="btn btn-sm w-100 text-start" [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Tuonti ja vienti</a></li>
          </ul>

          <button class="btn btn-md w-100 text-start collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#components-collapse" 
          aria-controls="components-collapse">Tuotetiedot</button>
          <ul class="list-unstyled ps-3 collapse" id="components-collapse">
            <li><a class="btn btn-sm w-100 text-start" [routerLink]="[{ outlets: { workspace: ['product'] } }]">Tuotteet</a></li>
            <li><a class="btn btn-sm w-100 text-start active" [routerLink]="[{ outlets: { workspace: ['product-attributes'] } }]">Ominaisuudet</a></li>
            <li><a class="btn btn-sm w-100 text-start" [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Kanavat</a></li>
            <li><a class="btn btn-sm w-100 text-start" [routerLink]="[{ outlets: { workspace: ['product-media'] } }]">Tuotemedia</a></li>
            <li><a class="btn btn-sm w-100 text-start" [routerLink]="[{ outlets: { workspace: ['pim'] } }]">Tuonti ja vienti</a></li>
          </ul>

      <div class="mb-5"><a class="btn btn-md w-100 border-top text-start"  [routerLink]="['/login', 0]">Kirjaudu ulos</a></div>
  





