<h4>Tuotteetryhmät</h4>
<hr />
<div class="row">
    <div class="col-md-1">
        <button class="btn btn-sm btn-success" (click)="OpenAddProductGroup()">LISÄÄ TUOTERYHMÄ</button>

        <div class="list-group mt-3">

        </div>

    </div>
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Ominaisuus</th>
                    <th>Ominaisuus</th>
                </tr>
            </thead>
            <tbody>
                <tr>Omi</tr>
                <tr>labl</tr>
            </tbody>
        </table>
    </div>
</div>