<h4>Ominaisuudet</h4>
<hr />
<button class="btn btn-sm btn-success " (click)="OpenAddAttribute(addAttribute)">LISÄÄ UUSI</button>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Nimi</th>
            <th scope="col">Tunnus</th>
            <th scope="col">Tyyppi</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let attribute of attributes">
            <td>{{attribute.name}}</td>
            <td>{{attribute.label}}</td>
            <td>{{attribute.attributeType}}</td>
        </tr>
    </tbody>
</table>



<ng-template #addAttribute let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Uusi ominaisuus</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="mt-3">
                    <label for="exampleInputEmail1" class="form-label">NIMI</label>
                    <input type="email" class="form-control  form-control-lg" [(ngModel)]="currentAttribute.name" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>

                <div class="mt-3">
                    <label for="exampleInputEmail2" class="form-label">TUNNUS</label>
                    <input type="email" class="form-control  form-control-lg" [(ngModel)]="currentAttribute.label" id="exampleInputEmail2" aria-describedby="emailHelp">
                </div>

            </div>

            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="mt-3">
                    <h6>Valitse tyyppi</h6>
                    <button class="btn btn-sm btn-block btn-outline-secondary mt-2 me-2" *ngFor="let enum of attributeTypes | keyvalue" (click)="SetAttrubuteType(currentAttribute, enum.key)">{{ enum.value}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.dismiss('Close click')">Sulje</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Lisää</button>
    </div>
    <ng-template>