<h4>Tuotteet</h4>
<hr />
<div class="row">
  <div class="col">
    <button class="btn btn-sm btn-success" (click)="OpenAddProduct(addProduct)">LISÄÄ TUOTE</button>
  </div>
  <div class="col text-end">
    <button class="btn btn-sm btn-outline-secondary" (click)="OpenAddProduct(addProduct)">VALITSE OMINAISUUDET</button>
  </div>
</div>
<table class="table mt-3">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Nimi</th>
      <th *ngFor="let attribute of listedProductAttributes">{{attribute.label}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th scope="row"><button class="btn pt-0 pb-0"
          (click)="OpenEditProduct(addProduct, product)">{{product.id}}</button></th>
      <td>{{product.name}}</td>
      <td *ngFor="let attribute of listedProductAttributes"></td>
    </tr>
  </tbody>
</table>

<ng-template #addProduct let-modal>
  <div class="modal-header bg-light">
    <button type="button" class="btn btn-lg ps-0" aria-label="Close" (click)="modal.dismiss('Cross click')">
      < Takaisin</button>
        <button type="button" class="btn btn-success" (click)="modal.close('Close click')">Tallenna ja
          sulje</button>
  </div>
  <div class="modal-body">
    <h5>
      <span *ngIf="!currentProduct.partitionKey">Uusi</span>
      <span *ngIf="currentProduct.partitionKey">Muokkaa</span>
      tuote
    </h5>
    <div class="row">
      <div class="col">
        <div class="mt-2">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Nimi"
              [(ngModel)]="currentProduct.name">
            <label for="floatingInput">Nimi</label>
          </div>
        </div>

        <div class="mt-5">

          <div class="row mt-3">
            <div class="col-md-2 me-5" *ngIf="freeAttributes && freeAttributes.length > 0">
              <h5>Valitse ominaisuudet</h5>
              <ol class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start"
                  *ngFor="let attribute of freeAttributes">
                  <div class="me-auto">
                    <div class="fw-bold">{{attribute.name}}</div>
                    <small class="text-secondary">{{GetAttributeTypeName(attribute.attributeType)}}</small>
                  </div>
                  <button class="btn btn-sm btn-outline-success" (click)="AddAttributeToProduct(attribute)">LISÄÄ
                    ></button>
                </li>
              </ol>
            </div>

            <div class="col ms-5" *ngIf="currentProduct.attributes && currentProduct.attributes.length > 0">
              <h5>Tuotteen ominaisuudet</h5>
              <div class="row">
                <div class="col-md-2 p-3 ms-2 mb-2 bg-light border rounded"
                  *ngFor="let attribute of currentProduct.attributes">
                  <div class="row pb-2">
                    <div class="col d-flex justify-content-between align-items-start">
                      <div class="me-auto text-start">{{attribute.name}}</div>
                      <button class="btn btn-close" (click)="RemoveAttributeFromProduct(attribute)"></button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-floating mb-3">
                        <small class="text-muted">{{attribute.label}}</small><br />
                        <div *ngIf="([0,1,2,3,4,5].indexOf(attribute.attributeType) >= 0)">
                          <input type="text" class="form-control" [(ngModel)]="attribute.value" />
                        </div>

                        <div *ngIf="([6,7,8].indexOf(attribute.attributeType) >= 0)"
                          style="height: 100px; overflow-y:scroll">
                          <div class="list-group list-group-flush">
                            <small class="list-group-item"
                              *ngFor="let option of attribute.value">{{option.name}}</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <ng-template>