@font-face {
    font-family: 'MontserratAlt1';
    src: url('/assets/MontserratAlt1-Regular.ttf');
}

html,
body {
    font-family: 'Quicksand', sans-serif !important;
}

.logo {
    font-family: 'MontserratAlt1' !important;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
